/* Header */
body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
a {
    text-decoration: none;
    color: chocolate;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 24px;
    color: black;
}

.navbar_logo i {
    color: brown;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: brown;
    border-radius: 4px;
}
.navbar_toggleButton {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: brown;
}
.form_login {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:450px;
    padding: 30px, 20px;
    background-color: bisque;
    text-align: center;
    top: auto;
    left: auto;
    border-radius: 15px;
}

.form_login h1 {
    font-size: 32px;
    text-align: center;
    color: chocolate;

}

.form_id {

    margin: 30px;
    padding: 10px 10px;
}

.id {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    height: 25px;
    background: white;
    border-bottom: 3px dashed brown;
}

.form_pw {
    margin: 30px;
    padding: 10px 10px;
}

.pw {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    height: 25px;
    background: white;
    border-bottom: 3px dashed brown;
}

.button_login {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.button_find_id {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.button_find_pw {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.button_login:hover {
    background-color:brown;
}

.button_find_id:hover {
    background-color:brown;
}

.button_find_pw:hover {
    background-color:brown;
}

.button_login:active {
    background-color:darkred;
}

.button_find_id:active {
    background-color:darkred;
}

.button_find_pw:active {
    background-color:darkred;
}

.footbar {
    position:relative;
    bottom:0;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: bisque;
    color: chocolate;
    padding: 8px 12px;
    margin-top: 20px;
}


/* Responsive Web */
@media screen and (max-width: 768px)  {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggleButton {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}