/* Header */
body {
    margin: 0;
    font-family: 'Source Sans Pro';
}
a {
    text-decoration: none;
    color: chocolate;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 24px;
    color: black;
}

.navbar_logo i {
    color: brown;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: brown;
    border-radius: 4px;
}
.navbar_toggleButton {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: brown;
}
.footbar {
    position:fixed;
    bottom:0;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: bisque;
    color: chocolate;


}

/* Responsive Web */
@media screen and (max-width: 768px)  {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggleButton {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}