.bg {
    background-color:rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 1000px;
    position: absolute;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
    background-image: url("../pic/wallpaper\ 1920_1080.jpg");
    background-repeat: no-repeat;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

a {
    font-weight: bold;
    text-decoration: none;
    color: chocolate;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 8px 12px;
}
.navbar_logo {
    font-size: 24px;
    color: black;
}

.navbar_logo i {
    color: brown;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li {
    padding: 8px 12px;
}
.navbar_menu li:hover {
    background-color: brown;
    border-radius: 4px;
}
.navbar_toggleButton {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 24px;
    color: brown;
}

.form_register {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:1100x;
    padding: 30px, 20px;
    background-color: bisque;
    opacity: 0.9;
    text-align: center;
    top: auto;
    left: auto;
    border-radius: 15px;
}

.form_id h1 {
    font-size: 32px;
    text-align: center;
    color: chocolate;

}

.form_id {
    text-align: center;
    font-size: 24px;
    color: chocolate;
    margin: 20px;
    padding: 10px 10px;
}

.form_id .user_id {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.button_check_id {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    margin: 10px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.form_pw {
    text-align: center;
    font-size: 24px;
    color: chocolate;
    margin: 20px;
    padding: 10px 10px;
}

.form_pw .user_pw1 {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_pw .user_pw2 {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.button_check_pw {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    margin: 10px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.form_name {
    text-align: center;
    font-size: 24px;
    color: chocolate;
    margin: 30px;
    padding: 10px 10px;
}

.form_name .user_name {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_birth {
    text-align: center;
    font-size: 24px;
    color: chocolate;
    margin: 30px;
    padding: 10px 10px;
}

.form_birth .year {
    width: 31%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_birth .month {
    width: 31%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_birth .day {
    width: 31%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_gender {
        text-align: center;
        font-size: 24px;
        color: chocolate;
        margin: 30px;
        padding: 10px 10px;
}

.form_gender .female {
    border-bottom: 3px dashed brown;
}

.form_gender .male {
    border-bottom: 3px dashed brown;
}

.form_gender .radio_gender {
    content: "";
    font-size: 12px;
}

.form_email {
    text-align: center;
    font-size: 24px;
    color: chocolate;
    margin: 30px;
    padding: 10px 10px;
}

.form_email .user_email {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px dashed brown;
    height: 25px;
    background: white;
}

.form_done .button_done {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    margin: 10px;
    background-position: left;
    background-size: 200%;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
    background-color: chocolate;
    color: white;
    border: none;
}

.footbar {
    font-weight: bold;
    position: relative;
    bottom: 0%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: bisque;
    color: chocolate;
    padding: 8px 12px;
    margin-top: 20px;
}

/* Responsive Web */
@media screen and (max-width: 1000px)  {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggleButton {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }
}